{% extends 'staff_template/base_template.html' %}

{% block page_title %}
    Staff Home
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            {% comment %} Boxes Section Starts {% endcomment %}
            <div class="row">
                <div class="col-lg col-6">
                    <!-- small box -->
                    <div class="small-box bg-dark">
                    <div class="inner">
                        <h3>{{ students_count }}</h3>

                        <p>Students Under Me</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="{% url 'staff_take_attendance' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>{{ subject_count }}</h3>

                        <p>Total Subjects</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                </div>
            {% comment %} Boxes Section Ends {% endcomment %}

            <div class="row">

            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}

  {% block custom_js %}

  {% endblock custom_js %}